:root {
--primary-color: #008080;       /* Deep Teal */
  --secondary-color: #FF7F50;     /* Soft Coral */
  --background-color: #F5F5DC;    /* Light Beige */
  --text-color: #333333;          /* Dark Charcoal */
  --accent-color: #FFD700;        /* Gold */
  --navbar-color: #000080;        /* Navy Blue */ 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

/* starting header style */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
        color: var(--navbar-color);

}
header > h1 {
    width: 50%;
}

.nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.nav>.navList>li {
    list-style: none;
}
.nav>.navList>li > a{
    padding-left: 20px;
    text-decoration: none;
}
/* ending  header style */


/*starting banner section*/
.bannerSection {
    background-image: url('../images/shopping.jpg');
    background-size: cover;
    background-position: center;
    background-attachment:scroll;
    height: 400px;
    color: var(--primary-color) ;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   padding: 40px;
}

.bannerSection h1 {
    text-align: center;
    font-size: 50px;
    box-shadow: 1px 1px 1px var(--secondary-color);

}

.bannerSection div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.bannerSection div p {
    font-size: 18px;
    color: var(--text-color);
}

.bannerSection div a {
    background-color: var(--background-color);
    color : var(--primary-color) ;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}
/*ending banner section*/


/*starting products section */
.productsSection .products {
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    gap: 0.5rem;
}
.productsSection h2 {
    text-align: center;
}

.productsSection .products .card {
    width: 30%;
    max-width: 200px;
    margin: 20px;
}
.productsSection .products .card img {
    width: 100%;
    scale: cover ;
    border-radius: 5px;
}
.productsSection .products .card p {
    text-align: center;
    color: var(--accent-color);
    font-size: 20px;
    border-radius: 5px;
}
.productsSection .products .card a {
    display: block;
    text-align: center;
    background-color: var(--primary-color);
    color : white ;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}
.productsSection .products .card a:hover {
    background-color: var(--secondary-color);
}
/*===ending products section */
.site-footer {
  background-color: var(--primary-color); /* Navy Blue (#000080) */
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem; /* Space above footer */
  font-size: 0.9rem;
}